:root {
    --cor_principal: #2ECC71;
    --cor_secundaria: #FFB347;
    --cor_destaque: #2ECC71;
    --cor_neutra: #064420;
    --cor_texto_principal: #C2E812;
    --cor_extra: #FFFFFF;
    --cor_font: #222;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--cor_destaque);
    color: var(--cor_font);
    font-family: 'Poppins', sans-serif;

}

h1 {
    border-bottom: solid var(--cor_font);
}

nav {
    width: 200px;
    background: var(--cor_neutra);
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav li {
    margin-bottom: 20px;
}

nav a {
    display: block;
    color: var(--cor_secundaria);
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover {
    background: var(--cor_secundaria);
    color: var(--cor_extra);
}

section {
    height: 100vh;
    padding-top: 80px;
    align-items: center;
    font-size: 2rem;
    margin-left: 250px;
}

.container {
    display: flex;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.icons {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.cap {
    margin: 45px 0px 45px 0px;
}


.section_conteiner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    display: flex;
    background: #ccc;
    padding: 50px;
    border-radius: 80px;
    margin: 20px;
    padding-top: 30px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-direction: column;
}

.card_top {
    margin: auto;
}

.bottom-row {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 50px;
}

.bottom-row .card {
    flex: 1;

}

img {
    border-radius: 100%;
    height: 40px;
    border: solid 3px var(--cor_secundaria);
}

li {
    font-size: 35px;
}

.logo {
    height: 170px;
}

.card_principal {
    border-radius: 100px;
    background-color: #0c211693;
}