:root {
    --cor_principal: #2ECC71;
    --cor_secundaria: #FFB347;
    --cor_destaque: #2ECC71;
    --cor_neutra: #064420;
    --cor_texto_principal: #C2E812;
    --cor_extra: #FFFFFF;
    --cor_font: #222;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
} 

body, html{
    background: var(--cor_destaque);
    color: var(--cor_font);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

h1 {
    color: var(--cor_secundaria);
}

p{
    font-size: 15px;
}

header{
    padding-top: 30px;
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 250px ;
    background-color: #0c211693;
    border: solid var(--cor_secundaria);
    align-items:end;
    text-align :center;
    flex-direction:row-reverse;
    height: 400px;
}

nav {
    width: 200px;
    background: var(--cor_neutra);
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    border-right: solid var(--cor_secundaria);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav li {
    margin-bottom: 20px;
    font-size: 24px;
}

nav a {
    display: block;
    color: var(--cor_secundaria);
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover {
    background: var(--cor_secundaria);
    color: var(--cor_extra);
}

section {
    height: 100vh;
    padding-top: 80px;
    align-items: center;
    font-size: 2rem;
    margin-left: 250px;
}

.container {
    display: flex;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 0;
}

.icons {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.cap {
    margin: 45px 0px 45px 0px;
}


.section_conteiner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    display: flex;
    background: #ccc;
    padding: 50px;
    border-radius: 80px;
    margin: 20px;
    padding-top: 30px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: solid var(--cor_secundaria);
    height: auto;
}

.bottom-row {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 50px;
}

.bottom-row .card {
    flex: 1;

}

nav img, .logo, .sub-icons {
    border-radius: 100%;
    height: 40px;
    border: solid 3px var(--cor_secundaria);
}

li {
    font-size: 35px;
}

.logo {
    height: 170px;
}

.card_principal {
    margin-top: 30px ;
    border-radius: 100px;
    background-color: #0c211693;
    border: solid var(--cor_secundaria);
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: auto;
}

#map {
    width: 900px;
    height: 600px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.marcadoresDeMapa {
    display: flex;
    gap: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 10px;
    padding-inline: 280px;
}

.marcadoresDeMapa button {
    background: var(--cor_secundaria);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}